* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;	
}

/* Nav */

.menu {
	height: 70px;
	background-color: #212F3E; 		
	color: white;
	position: fixed;  
	z-index: 9999;	
}

.logo {
	float: left;
	padding: 0 30px;
	margin-left: 100px;
}

.links-menu ul {
	float: right;
	padding: 2px 30px;
	margin-right: 100px;
}

.links-menu li {
	font-size: 0.75em;
	font-weight: 700;
	list-style: none;	
	display: inline-block;	
	margin: 10px 0px 5px 0px;
	left: 600px;
}

.links-menu li a {
	color: white;
	text-decoration: none;
	padding: 15px 20px;
}

.links-menu li a:hover {
	background-color: #1EB18A;
}

/* Fondo Start Bootstrap */

.banner {
	height: 700px;
	background-color: #1EB18A;
}

.div-info, .div-about {
	color: white;
	text-align: center;
	padding: 80px 0;
}

.div-info h1 {
	font-size: 60px;
	margin: 10px;
}

.div-about h1 {
	font-size: 40px;
}

.div-info p {
	font-weight: 300;
}

.div-info img {
	padding: 25px;
}

.contact {
	height: 700px;
	background-color: white;
}

/* Portafolio */

.portafolio {
	height: 850px;
	background-color: white;
}

.portafolio-row {
	padding: 0 80px;
}

.titulo-portafolio {
	padding-top: 30px;
	text-align: center;
	font-size: 25px;
}

/* About */

.div-about {
	padding: 50px 0;
	text-align: center;
}

.about {
	height: 500px;
	background-color: #1EB18A;
}

.about-texto {
	padding: 0 250px;
}

.col-6 p {
	text-align: justify;
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 1px;
	margin-bottom: 50px;
}

.about-texto a {
	background-color: #1EB18A;
	border: 1.5px solid white;
	border-radius: 6px;
	padding: 10px;
	margin-top: 20px;
	color: white;
	text-decoration: none;
}

.boton-about {
	padding: 40px;
}

/* Contact Me */
 
.div-contact {
	padding: 50px 0;
	text-align: center;
}

.contact-form {
	padding: 25px 300px;
}

.div-contact h1 {
	font-size: 40px;
}

.contact-form input {
	color: #0A0F22;
	width: 500px;
	height: 50px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1 solid #CDCDCD;
	padding-left: 10px;
}

#message {
	height: 150px;
	padding-bottom: 100px;
}

.btn-success {
  	color: white;
  	background-color: #18BC9C;
  	border-color: #18BC9C;
  	font-weight: 700;
  	margin-right: 415px;
  	cursor: pointer;
}

.btn-lg {
	padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.text-center {
	text-align: center;
}

/* Footer */

footer {
  color: white;
}

footer h3 {
  margin-bottom: 30px;
}

footer .footer-above {
  padding-top: 40px;
  background-color: #2C3E50;
}

footer .footer-col {
  margin-bottom: 50px;
  margin-left: -30px;
}

footer .footer-col h3 {
	font-size: 24px;
}

footer .footer-col2 h3 {
	font-size: 24px;
}

footer .footer-below {
  padding: 5px 0;
  background-color: #233140;
  text-align: center;
  font-size: 14px;
}

.list-inline {
	list-style: none;
	margin-left: -35px;
}

.list-inline>li{
	display: inline-block;
	padding: 5px;
}

.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
 }

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.footer-col2 a {
	text-decoration: none;
	color: #1EB18A;
}

.footer-col2 a:hover {
	color: #1EB18A;
	text-decoration: underline;
}

/* Línea y estrella */

hr {
	background-color: white;
	width: 100px;
	height: 5px;
	display: inline-block;
	margin-top: 5px
}

.linea-black {
	background-color: black;
}

.fa-star {
	margin: 10px;
}

/* Hover de la sección Portafolio */

.port {
  position: relative;
  cursor: pointer;
}

.port:after {
    content: "\f00e";
    font-size: 5rem;
    position: absolute;
    width: 95%;
    height: 95%;
    top: 5px;
    left: 10px;
    right: 0;
    background-color: #18BC9C;
    color: #fff;
    font-family: "FontAwesome";
    box-sizing: border-box;
    text-align: center;
    padding: 25% 0;
    opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
}

.port:hover:after {
	opacity: 0.98;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

